{% extends 'AppBundle:Admin/layouts:index.html.twig' %}

{% block pageTitle %}
    Новости<small>управление публикациями</small>
{% endblock %}

{% block tHead %}
    <th>Название</th>
    <th>Краткая информация</th>
    <th>Обложка</th>
    <th>Создатель</th>
    <th>Изобраное</th>
    <th>Категория</th>
    <th width="10%">Галерея</th>
    <th>Статус</th>
{% endblock %}
{# @var model \AppBundle\Entity\Article #}

{% block tBody %}

    {% for model in collection %}
        <tr class="even pointer">
            <td class="a-center ">
                <input name="{{ model.id }}" type="checkbox" class="tableflat">
            </td>
            <td>
                {{model.title}}
            </td>
            <td>{{model.info}}</td>
            <td>
                <img src="{{model.cover}}" width="75" class="img-responsive">
            </td>
            <td>{{model.user.fullName}}</td>
            <td>
                <span class="label" style="background-color: {{model.category.color}};">
                    {{model.category.name}}
                </span>
            </td>
            <td>
                {% if model.media.id is defined %}
                    <div style="display: block; position: relative">
                        <img src="{{model.media.cover}}" width="50">
                        <div class="label label-default">{{model.media.name}}</div>
                    </div>
                {% endif %}
            </td>
            <td>
                <span class=" {{model.statusClass}}">
                    {{model.statusName}}
                </span>
            </td>
            <td class="last">
                <a class="btn {{(model.status) ? "btn-warning" : "btn-info"}}" href="{{path('index', {'id' : model.id})}}">
                <i class="fa {{(model.status) ? "fa-eye-slash" : "fa-eye"}}"></i>
                </a>
                <a class="btn btn-success" href="{{path('edit', {'id' : model.id})}}">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn btn-danger" href="{{path('delete', {'id' : model.id})}}">
                    <i class="fa fa-remove"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}